@import "/uni.scss";
.containe{
	padding:10px 20px;
	box-sizing: border-box;
	background-color: white;
	height:90%;
	overflow-y: auto;
	&>view{
		padding:10px 0;
	}
}
.description{
	// margin:10px 0;
	height:170px;
	color: gray;
	&>textarea{
		height:100%;
		color: black;
		width:100%;
	}
}
.place{
	display: flex;
	align-items: center;
	justify-content: space-between;
	border-bottom:1px solid rgba(0,0,0,.1);
	&>input{
		width:80px;
		border:1px solid rgba(0,0,0,.1);
		font-size:13px;
		box-sizing: border-box;
		height:30px;
	}
}
	.range{
		&>.tit{
			padding:10px 0 0 0;
			font-size:17px;
		}
		&>.chang{
			display: flex;
			padding:10px 0;
			justify-content: space-between;
		}
		&>.add{
			height:40px;
			line-height:40px;
		}
	}
	.picture{
		display: flex;
		flex-wrap: wrap;
		column-count: 2;
		border-bottom:1px solid rgba(0,0,0,.1);
		&>.pic{
			position: relative;
			width:150px;
			height:100px;
			margin-right:2px;
			video,image{
				width:100%;
				height:100%;
			}
		}
			.err{
				position: absolute;
				background-color: rgba(0,0,0,.5);
				width:25px;
				height:25px;
				top:0;
				left:100%;
				transform: translateX(-100%);
				z-index:999;
			}
		&>.pic2{
			position: relative;
			width:100px;
			height:100px;
			margin-right:2px;
			&>image{
				width:100%;
				height:100%;
			}
		}
	}
	.btn2{
		margin-top:20px;
		border: 1px solid rgb(95,78,86);
		color: white;
		// position: relative;
		// z-index: 10000000;
		width:100%;
		display: flex;
		font-size:16px;
		justify-content: center;
		align-items: center;
		border-radius: 20px;
		background-color:rgb(95,78,86) ;
		&:active{
			background-color: white;
			color:rgb(95,78,86) ;
		}
	}