@import '@/uni.scss';
.container{
	overflow: hidden;
	height:100%;
	width:100%;
	display: flex;
	flex-direction: column;
	&>view{
		flex-grow: 1;
	}
}
.head{
	font-size:20px;
	display: flex;
	align-items: flex-end;
	padding-left:15px;
	padding-bottom:10px;
	box-sizing: border-box;
	@include height(10%);
}
.body{
	@include height(90%);
	// padding:10px 0;
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	&>view{
		flex-grow: 1;
	}
	.search{
		color: gray;
		@include height(7%);
	}
	.list{
		@include height(93%);
		display: flex;
		&>view{
			flex-grow: 1;
		}
		.culture{
			@include height(100%);
			overflow: auto;
			// padding-bottom: 500px;
			box-sizing: border-box;
			.dot{
				height:10px;
				width:10px;
				position: relative;
				transform: translateX(-100%);
				left:0px;
				border-radius: 50%;
			}
			&>.active{
				background-color: #fffbf2;
			}
			@include width(30%);
			&>view{
				@include width(100%);
				@include height(10%);
				text-overflow: ellipsis;
				overflow: hidden;
				white-space:nowrap;
			}
		}
		.culture_right{
			overflow: auto;
			display: flex;
			padding:10px 10px 0 10px;
			box-sizing: border-box;
			flex-direction: column;
			&>.pic{
				@include height(25%);
				&>image{
					background-color: rgba(0,0,0,.1);
					height:100%;
					width:100%;
				}
			}
			&>.culture_store{
				@include height(70%);
				&>view{
					flex-grow: 1;
				}
				&>.title{
					@include height(10%);
					// background-color: black;
					display: flex;
					align-items: center;
				}
				&>.goods_all{
					display: flex;
					column-count: 3;
					flex-wrap: wrap;
					justify-content: space-around;
					// justify-content: space-around;
					.goods{
						@include height(30%);
						@include width(30%);
						margin-top:10px;
						&>image{
							height:100%;
							width:100%;
						}
					}
				}
			}
		}
	}
}
.search_btn{
	@include width(80%);
	@include height(70%);
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius:20px;
}