@import '@/uni.scss';
.container{
	height:100%;
	width:100%;
	display: flex;
	flex-direction: column;
	&>view{
		flex-grow: 1;
	}
}
.head{
	background-color: white;
	@include height(10%);
	padding-bottom: 20rpx;
	display: flex;
	align-items: flex-end;
	justify-content: center;
}
.body{
	// @include height(90%);
	height: calc(90vh - 20rpx);
	// padding:10px 0;
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	.store{
		margin-bottom: 20rpx;
		display: flex;
		padding: 20rpx 40rpx;
		background-color: white;
		gap: 40rpx;
		height:200rpx;
		align-items: center;
		// justify-content: space-between;
		.other{
			max-height:200rpx;
			width: 70%;
			.name{
				font-size: 40rpx;
			}
			.description{
				color: gray;
				max-height: 110rpx;
				overflow-wrap: break-word;
				text-overflow: ellipsis;
				overflow: hidden;
			}
		}
		.avatar{
			width: 150rpx;
			height: 150rpx;
			image{
				height: 100%;
				width: 100%;
			}
		}
	}
}
.search_btn{
	@include width(80%);
	@include height(70%);
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius:20px;
}