@import '@/uni.scss';
$color:rgb(180,170,156);
.highTxt{
	// color: rgb(79,70,229);
	color: $color;
}
.container{
	height:100%;
	width:100%;
	display: flex;
	flex-direction: column;
	&>view{
		flex-grow: 1;
	}
}
.head{
	background-color: white;
	@include height(10%);
	padding-bottom: 20rpx;
	display: flex;
	align-items: flex-end;
	justify-content: center;
}
	.swi{
		height:400rpx;
		width:100%;
		&>view{
			height:100%;
			width:100%;		
		}
		.pic{
			height:100%;
			width:100%;	
			image{
				height:100%;	
				width:100%;
			}
		}
	}
.service-list {
	padding-bottom: 50rpx;
  display: flex;
  position: relative;
  flex-wrap: wrap;
  min-height: 300rpx;
  justify-content: space-between;
}

.service-item {
  width: 45.5%;
  margin-bottom: 20rpx;
  background-color: white;
  border-radius: 10rpx;
  padding:20rpx 10rpx;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.service-pic {
	width: 100%;
  height: 300rpx;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10rpx;
}

.service-info {
  padding: 10rpx;
}

.service-name {
  font-size: 32rpx;
  margin-bottom: 10rpx;
}

.service-desc {
  font-size: 28rpx;
  color: #666;
  margin-bottom: 10rpx;
}

.service-price {
  font-size: 32rpx;
  color: #ff4949;
}
.service-list {
	padding-bottom: 50rpx;
  padding: 0 10rpx;
  display: flex;
  position: relative;
  flex-wrap: wrap;
  min-height: 300rpx;
  justify-content: space-between;
}
.body{
	// @include height(90%);
	height: calc(90vh - 20rpx);
	// padding:10px 0;
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	.store{
	height: calc(100vh - 400rpx - 70rpx);
	padding:0 10rpx;
	box-sizing: border-box;
		.other{
			height: 170rpx;
			// max-height:200rpx;
			box-sizing: border-box;
			width: 60%;
			// display: flex;
			// flex-direction: column;
			// justify-content: space-between;
			padding-top: 5rpx;
			.name{
				font-size: 36rpx;
				margin-bottom: 10rpx;
			}
			.description{
				font-size: 30rpx;
				color: gray;
				max-height: 130rpx;
				// overflow-wrap: break-word;
				// text-overflow: ellipsis;
				overflow: hidden;
			}
		}
		.avatar{
			min-width: 150rpx;
			min-height: 150rpx;
			height: 150rpx;
			width: 150rpx;
			image{
				height: 100%;
				width: 100%;
			}
		}
	}
}
.search_btn{
	@include width(80%);
	@include height(70%);
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius:20px;
}