@import '@/uni.scss';
.btn2{
	border: 1px solid rgb(79,70,229);
	color: white;
	// position: relative;
	// z-index: 10000000;
	padding:0 10px;
	height:40px;
	display: flex;
	font-size:16px;
	justify-content: center;
	align-items: center;
	border-radius: 30px;
	background-color:rgb(79,70,229) ;
	&:active{
		background-color: white;
		color:rgb(79,70,229) ;
	}
}
.start_btn_cen{
	justify-content: center;
	align-items: center;
	display: flex;
}
.add_btn{
	// background-color: rgba(0,0,0,.1);
	display: flex;
	align-items: center;
	justify-content: center;
	&>image{
		height:100px;
		width:100px;
		background-color: rgba(0,0,0,0);
	}
}
.start_btn{
	padding:0 10px;
	@include height(40px);
	@include width(150px);
	display: flex;
	font-size:16px;
	justify-content: center;
	align-items: center;
	border-radius: 30px;
	border: 1px solid rgba(0,0,0,.1) !important;
	color:rgb(79,70,229) ;
	color: black;
	&:active{
		background-color:solid rgba(0,0,0,.1);
		color: gray;
	}
}
.container{
	overflow: auto;
	height:100%;
	width:100%;
	&>view{
		flex-grow: 1;
		width:100%;
	}
	.head_title{
		position: absolute;
		top:0;
		align-items: flex-end;
		font-size: 20px;
		font-weight: bold;
		z-index: 9999;
		transition:.5s ease;
		opacity:0%;
		width: 100%;
		margin-top:0px;
	}
	.top_img{
		@include height(25%);
	}
	.info{
		padding:0 15px;
		box-sizing: border-box;
		@include height(33%);
		&>view{
			box-sizing: border-box;
			// padding:10px 0;
			flex-grow: 1;
		}
		.top{
			display:flex;
			@include height(25%);
			.avatar{
				flex-grow: 1;
				@include width(30%);
				image{
					border-radius: 50%;
					height:80px;
					width:80px;
					position: relative;
					top:-50%;
				}
			}
			.avatar_right{
				@include width(70%);
				justify-content: flex-end;
				display: flex;
				font-weight:bold;
				&>view{
					height:100%;
					@include width(70%);
					display: flex;
					justify-content: space-around;
					.count{
						height:100%;
						justify-content: center;
						align-items: center;
						flex-grow: 1;
					}
				}
			}
		}
		.person_info{
			@include height(35%);
			padding-left:5px;
			box-sizing: border-box;
			&>view{
				flex-grow: 1;
			}
			.name{
				font-weight:bold;
			}
			.id{
				font-size:13px;
				color:gray;
			}
			.introduce{
				font-size:13px;
			}
		}
		.other{
			@include height(35%);
			display: flex;
			align-items: center;
			&>view{
				width:100%;
				@include height(70%);
				.store_{
					font-size:13px;
					color:gray;
				}
				display: flex;
				justify-content: center;
				align-items: center;
				box-sizing: border-box;
				&>view{
					margin-left:10px;
					@include width(50%);
					display: flex;
					.store_info{
						height:50px;
						display: flex;
						flex-direction: column;
						justify-content: space-around;
						margin-left:10px;
					}
					.pic{
						height:50px;
						width:50px;
						background-color: rgba(0,0,0,0);
						border-radius: 10px;
						&>image{
							transform: scale(.7);
						}
					}
				}
			}
		}
	}
	.two{
		display: flex;
		padding:5px 10px;
		box-sizing: border-box;
		&>view{
			@include width(25%);
			flex-grow: 1;
			text-align: center;
		}
	}
	.works{
		@include height(60%);
		border-top:1px solid rgba(0,0,0,.1);
		position: relative;
		// @include height(30%);
		.title{
			position: sticky;
			margin-top:0px;
			@include height(10%);
			display: flex;
			flex-direction: column;
			.t2{
				flex-grow: 1;
				@include height(2px);
				.line{
					transition:0.5s ease;
					position: relative;
					z-index:9999;
					// background-color: rgb(140,210,168);
					height:100%;
					width:50%;
					left:0%;
				}
			}
			.t1{
			flex-grow: 2;
			font-weight: bold;
			display: flex;
			justify-content: space-around;
			align-items: center;
			.ti{
				flex-grow: 1;
				height:100%;
				display: flex;
				justify-content: center;
				align-items: center;
			}
		}
		}
		.work{
			@include height(67%);
			// padding-bottom:100px;
			// box-sizing: border-box;
			// overflow-y: auto;
			display: flex;
			column-count: 3;
			flex-wrap: wrap;
			&>view{
				height:200px;
				width:33.3%;
				box-sizing: border-box;
				border:1px solid white;
			}
		}
	}
}
.flex_c{
	display: flex;
	flex-direction: column;
}
image{
	height:100%;
	width:100%;
}
// border-style
.toggle{
	border:1px solid rgb(140,210,168);
	padding:5px 0;
	box-sizing: border-box;
	border-radius: 20px;
	background-color: rgba(0,0,0,.1);
}