@import '/uni.scss';
.container>view{
	width:100%;
	flex-grow:0;
	background-color: white;
}
.container{
	overflow-y:auto;
}
.view_name{
	position:absolute;
	width: 100%;
	text-align: center;
	transform: translateY(-110%);
	background: rgba(0,0,0,.5);
	color: white;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	padding: 5rpx 0;
}
.view_duration{
	top:0;
	position:absolute;
	width: 50%;
	left: 0%;
	border-bottom-right-radius: 20rpx;
	text-align: center;
	transform: translate(0%,0%);
	background: rgba(0,0,0,.5);
	color: white;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	padding: 5rpx 0;
}
.video{
	@include height(300px);
	&>video{
		height:100%;
		width:100%;
	}
}
.introduce{
	padding:10px 20px;
	box-sizing: border-box;
	&>view{
		width:100%;
		padding:5px 0;
		box-sizing: border-box;
	}
	&>.intro{
		// border-bottom:1px solid rgba(0,0,0,.1);
		font-size:17px;
		color: gray;
		&>.tit{
			color: black;
			font-size:20px;
		}
	}
	&>.author{
		border-bottom:1px solid rgba(0,0,0,.1);
		.icon{
			gap:15rpx;
			&>button{
				outline: none;
				border:none;
				display: inline-block;
				padding:0;
			}
			uni-icons{
				margin-left:15px;
			}
			display: flex;
			align-items: center;
		}
		justify-content: space-between;
		.avatar{
			height:50px;
			width:50px;
			&>image{
				height:100%;
				width:100%;
				border-radius: 50%;
			}
		}
	}
}
.videos{
	padding:10px 20px;
	box-sizing: border-box;
	&>.flex_j_a_r{
		box-sizing: border-box;
		padding:5px 0;
		font-size:20px;
		justify-content: space-between;
	}
	&>.vi{
		padding:20rpx 0;
		border-bottom:1px solid rgba(0,0,0,.1);
		display: flex;
		overflow-y: hidden;
		overflow-x: auto;
		&>.vide{
			margin:0 10px;
			height:100px;
			@include width(150px);
			&>image{
				height:100%;
				width:100%;
			}
		}
	}
}
.damu{
	margin-bottom:100px;
	padding:20px 20px 10px 20px;
	box-sizing: border-box;
	.title{
		font-size:20px;
	}
	.dan{
		margin-top:15px;
		&>.person{
			display: flex;
			align-items: center;
			&>.left{
				@include width(80%);
				display: flex;
				&>.avatar{
					height:30px;
					width:30px;
					&>image{
						height:100%;
						border-radius: 50%;
						width:100%;
					}
				}
				&>.flex_j_a_c{
					@include width(80%);
					align-items: flex-start;
					margin-left:10px;
					width:100%;
					&>view:last-child{
						overflow: hidden;
						text-overflow: ellipsis;
						white-space: nowrap;
						width:100%;
					}
				}
				
			}
			&>.right{
				justify-content: space-around;
				height:100%;
			}
		}
	}
}
.send_damu{
	position:absolute;
	// background-color: aliceblue;
	background-color: rgba(95,78,86,0.1) !important;
	height:80px;
	width:100%;
	top:100%;
	transform: translateY(-100%);
	&>view{
		height:100%;
	}
	padding:20px 20rpx;
	box-sizing: border-box;
	gap:20rpx;
	&>.input{
		width: 80%;
		// background-color: rgba(0,0,0,.1);
		background-color: rgba(95,78,86,0.1);
		color: rgb(95,78,86);
		border-radius: 20px;
		padding:0 25rpx;
		&>input{
			height:100%;
			width:100%;
		}
	}
}
.middle{
	top:60%;
}