@import '/uni.scss';
.container{
}
.hig{
	font-size:20px;
	color: rgb(95,78,86);
}
.search{
	box-sizing: border-box;
	@include height(6%);
	padding:0px 15px;
	&>view{
		padding:5px 20px;
		background-color: rgba(0,0,0,.05);
		color: gray;
		width:80%;
		border-radius:30px;
	}
}
.content{
	@include height(85%);
	// background-color: deeppink;
	&>view{
		width:100%;
	}
	&>.title{
		&>view{
			text-align: center;
		}
		@include height(7%);
	}
	&>.bill{
		overflow-y: auto;
		width:100%;
		@include height(93%);
		padding:5px 15px 50px 15px;
		box-sizing: border-box;
		.store{
			width:100%;
			max-width: 100%;
			overflow: hidden;
			border-radius:10px;
			margin-top:10px;
			background-color: white;
			padding:5px 10px;
			box-sizing: border-box;
			// @include height(270px);
			min-height: 520rpx;
			&>view{
				width:100%;
			}
			&>view:first-child{
				justify-content: space-between;
				@include height(15%);
				.title{
					color: rgb(95,78,86);
				}
			}
			&>.pics{
				&>view{
					width:100%;
					height:70%;
				}
					max-width: 350px;
				&>.pic{
					@include width(35%);
					height: 200rpx;
					align-items: flex-start;
					image{
						border-radius:10px;
						width:90%;
						height:100%;
					}
				}
				&>.info{
					padding:5px;
					box-sizing: border-box;
					&>view{
						width:100%;
					}
					&>view:first-child{
						// background-color: red;
						&>view:first-child{
							justify-content: space-between;
							.name{
								@include width(50%);
								overflow: hidden;
								text-overflow: ellipsis;
								white-space: nowrap;
							}
						}
						&>view:last-child{
							&>.count{
								width:100%;
								text-align: end;
								color: gray;
							}
							&>.send_time{
								padding:5px 10px;
								box-sizing: border-box;
								border-radius:10px;
								margin-top:25px;
								background-color: rgba(0,0,0,.05);
							}
							&>.b{
								display: flex;
								view{
									padding: 2px;
									color: orangered;
									border:1px solid orangered;
								}
							}
						}
					}
					&>.money{
						@include height(20%);
						display: flex;
						justify-content: flex-end;
						align-items: center;
					}
				}
			}
			&>.btns{
				@include height(13%);
				margin:10rpx 0;
				justify-content: space-between;
				&>view{
					height:100%;
					width:100%;
					justify-content: space-around;
					&>view{
						width: 150rpx;
						text-align: center;
						margin-right: 10px;
						&:active{
							background-color: rgba(0,0,0,.1);
							color: white;
						}
						border:1px solid rgba(0,0,0,.1);
						border-radius:10px;
						    padding: 10rpx 15rpx;
						// box-sizing: border-box;
					}
				}
			}
		}
	}
}
.money{
						@include height(10%);
						display: flex;
						justify-content: flex-end;
						align-items: center;
						gap:20rpx;
					}
.done_pay{
	font-size:15px;
								color: gray;
								// float:right;
								// transform: translateY(100%);
							}