@import "/uni.scss";
.c{
	height:100%;
	width:100%;
}
.containe{
	background-color: white;
	// overflow-y: auto;
	position: relative;
	// height:100%;
	width:100%;
}
.show_head{
	height:10%;
		position: sticky;
		margin-top:0px;
	width:100%;
	background-color: white;
	display: flex;
	justify-content: center;
	align-items: flex-end;
	top:0;
}
.head{
	.pic{
		height:200px;
		width:100%;
		&>image{
			height:100%;
			width:100%;
		}
	}
	
}
.pub{
	position: absolute;
	height:28px;
	z-index:999;
	width:28px;
	top:200px;
	left:100%;
	border-radius:50%;
	border:2px solid rgb(110,121,226);
	transform: translateX(-130%);
	background-color: rgb(110,121,226);
	&:active{
		background-color: rgba(110,121,226,0.5);
	}
}
.tit1{
		// position: sticky;
		// margin-top:0px;
		// top:10%;
		display: flex;
		align-items: center;
		justify-content: space-between;
		color: gray;
		padding:5px 15px;
		box-sizing: border-box;
		background-color: rgb(229,229,229);
		&>input{
			width:70%;
			background-color:rgba(0,0,0,0.05);
			padding:2px 7px;
			border-radius:5px;
			font-size:14px;
			color: black;
		}
		&>view{
			height:20px;
			width:20px;
			border:2px solid rgb(110,121,226);
			border-radius: 50%;
			&:active{
				background-color: rgb(110,121,226);
			}
		}
	}
.hot{
	&>view{
		padding:7px 20px;
		border-bottom:1px solid rgba(0,0,0,0.1);
		box-sizing: border-box;
		&:active{
			background-color:rgba(0,0,0,0.03);
		}
		&>view{
			display: inline-block;background-color: orangered;margin-left:10px;
			color: white;
			border-radius:5px;
			font-size:14px;
			padding:2px;
			box-sizing: border-box;
		}
	}
}
.passage{
	padding:0 20px;
	box-sizing: border-box;
	&>view{
		margin:10px 0;
		border-bottom:1px solid rgba(0,0,0,0.1);
		&:active{
			background-color:rgba(0,0,0,0.03);
		}
	}
	.person{
		display: flex;
		align-items: flex-end;
		&>.avatar{
			margin-right:10px;
			height:50px;
			width:50px;
			&>image{
				border-radius:50%;
				width:100%;
				height:100%;
			}
		}
	}
	.pic{
		display: flex;
		column-count: 2;
		flex-wrap: wrap;
		&>image{
			width:130px;
			height:130px;
			margin:3px;
		}
	}
	.other{
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
		justify-content: space-between;
		height:50px;
		&>view>uni-icons{
			margin-left:5px;
		}
	}
	.content{
		padding:5px;
		margin:10px 0;
		box-sizing: border-box;
	}
}
	.bottom{
		@include height(10%);
		width:100%;
		padding:10px 0;
		color: gray;
		text-align: center;
		font-size:15px;
}