@import "/uni.scss";
.c{
	height:100%;
	width:100%;
}
.containe{
	overflow-x: hidden;
}
.ad{
	position: absolute;
	border-radius:50%;
	background-color: rgb(110,121,226);
	z-index:99;
	width:35px;
	height:35px;
}
.add{
	width:35px;
	height:35px;
	position: absolute;
	border-radius:50%;
	z-index:98;
	transition:.3s ease;
	background-color: white;
	transform: translate(-0%,-0%);
	&>image{
		height:100%;
		width:100%;
		background-color: rgba(0,0,0,0);
		transform: scale(.8);
	}
}
.show_add{
	box-shadow:-2px -2px 15px -3px gray;
	transform: translate(-150%,-120%);
}
.show_add2{
	box-shadow:-2px -2px 15px -3px gray;
	transform: translate(-200%,0%);
}
.show_add3{
	box-shadow:-2px -2px 15px -3px gray;
	transform: translate(-150%,120%);
}
.containe{
	background-color: white;
	// overflow-y: auto;
	position: relative;
	// height:100%;
	width:100%;
}
.show_head{
	height:10%;
		position: sticky;
		margin-top:0px;
	width:100%;
	background-color: white;
	display: flex;
	justify-content: center;
	align-items: flex-end;
	top:0;
}
.head{
	.pic{
		height:200px;
		width:100%;
		&>image{
			height:100%;
			width:100%;
			transform: scaleX(1.15);
		}
	}
	
}
.pub{
	position: absolute;
	height:35px;
	z-index:999;
	width:35px;
	top:200px;
	left:100%;
	border-radius:50%;
	// border:2px solid rgb(110,121,226);
	transform: translateX(-130%);
	background-color: rgb(110,121,226);
	&:active{
		background-color: rgba(110,121,226,0.5);
	}
}

// 发布视频按钮
// .pub_video{
// 	position: absolute;
// 	height:28px;
// 	z-index:999;
// 	width:28px;
// 	top:200px;
// 	left:100%;
// 	border-radius:50%;
// 	border:2px solid rgb(255,69,0);
// 	transform: translateX(-250%);
// 	background-color: rgb(255,69,0);
// 	&:active{
// 		background-color: rgba(255,69,0,0.5);
// 	}
// }
.tit1{
		// position: sticky;
		// margin-top:0px;
		// top:10%;
		display: flex;
		align-items: center;
		justify-content: space-between;
		color: gray;
		padding:5px 15px;
		box-sizing: border-box;
		background-color: rgb(229,229,229);
		&>input{
			width:70%;
			background-color:rgba(0,0,0,0.05);
			padding:2px 7px;
			border-radius:5px;
			font-size:14px;
			color: black;
		}
		&>view{
			height:20px;
			width:20px;
			border:2px solid rgb(110,121,226);
			border-radius: 50%;
			&:active{
				background-color: rgb(110,121,226);
			}
		}
	}
.hot{
	&>view{
		padding:7px 20px;
		border-bottom:1px solid rgba(0,0,0,0.1);
		box-sizing: border-box;
		&:active{
			background-color:rgba(0,0,0,0.03);
		}
		&>view{
			display: inline-block;background-color: orangered;margin-left:10px;
			color: white;
			border-radius:5px;
			font-size:14px;
			padding:2px;
			box-sizing: border-box;
		}
	}
}
.passage{
	padding:10px 20px;
	box-sizing: border-box;
	&>view{
		margin:15px 0;
		border-bottom:1px solid rgba(0,0,0,0.1);
		&:active{
			background-color:rgba(0,0,0,0.03);
		}
	}
	.person{
		display: flex;
		align-items: flex-end;
		&>.avatar{
			margin-right:10px;
			height:50px;
			width:50px;
			&>image{
				border-radius:50%;
				width:100%;
				height:100%;
			}
		}
	}
	.pic2{
		display: flex;
		column-count: 3;
		flex-wrap: wrap;
		&>image{
			max-width:200px;
			max-height:200px;
			// background-color: white;
			margin:3px;
		}
		&>video{
			width:80%;
			height:160px;
		}
	}
	.pic{
		display: flex;
		column-count: 3;
		flex-wrap: wrap;
		&>image{
			width:100px;
			// max-width:200px;
			height:130px;
			margin:3px;
		}
		&>video{
			width:80%;
			height:160px;
		}
	}
	.other{
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
		justify-content: space-between;
		height:50px;
		&>view>uni-icons{
			margin-left:5px;
		}
	}
	.content{
		padding:5px;
		margin:10px 0;
		box-sizing: border-box;
	}
}
	.bottom{
		@include height(10%);
		width:100%;
		padding:10px 0;
		color: gray;
		text-align: center;
		font-size:15px;
}